.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.star-container{
    padding: 7px;
    font-size: 2em;
}
.star{
    padding: 5px;
    color: grey;
    cursor: pointer;
}
.star-colored{
    color: gold;
}